{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col col-sm-6 pull-right">
        <div class="panel list">
            <h2 class="text-center color1d2939 border-bottom margin-bottom-10">اخبار استان </h2>
            <div class="padding-10 backgroundOrange">
                <select class="form-control select_city">
                    {% for i in list_city %}
                        {% if i['id'] == city_id %}
                            <option value="{{ i['id'] }}" selected="selected">{{ i['name'] }}</option>
                        {% else %}
                            <option value="{{ i['id'] }}">{{ i['name'] }}</option>
                        {% end if %}
                    {% end for %}
                </select>
            </div>
            {% for i in list_news %}
            <a href="news/show/{{ i['id'] }}">
                <h4>{{ i['title'] }}</h4>
            </a>
            <span class="pull-left">{{ i['date'] }}</span>
            <div class="clearfix"></div>
            <img src="{{ i['image'] }}" class="img-responsive pull-right">
            <p>{{ i['summary'] }}</p>
            {{ i['source_name'] }}
            <br><br>
            <a href="news/show/{{ i['id'] }}">
                <button class="btn btn-default pull-left">بیشتر</button>
            </a>
            <div class="clearfix"></div>
            <hr>
            {% end for %}
        </div>
    </div>
    <div class="col col-sm-6 pull-right">
        <div class="panel list">
            <h2 class="text-center color1d2939 border-bottom">اخبار ایران</h2>
            <div class="padding-10 backgroundOrange">
                <select class="form-control select_subject">
                    {% for i in list_subject %}
                        {% if i['id'] == subject_id %}
                            <option value="{{ i['id'] }}" selected="selected">{{ i['name'] }}</option>
                        {% else %}
                            <option value="{{ i['id'] }}">{{ i['name'] }}</option>
                        {% end if %}
                    {% end for %}
                </select>
            </div>
            {% for i in list_states %}
            <a href="news/show/{{ i['id'] }}">
                <h4>{{ i['title'] }}</h4>
            </a>
            <span class="pull-left">{{ i['date'] }}</span>
            <div class="clearfix"></div>
            <img src="{{ i['image'] }}" class="img-responsive pull-right">
            <p>{{ i['summary'] }}</p>
            {{ i['source_name'] }}
            <br><br>
            <a href="news/show/{{ i['id'] }}">
                <button class="btn btn-default pull-left">بیشتر</button>
            </a>
            <div class="clearfix"></div>
            <hr>
            {% end for %}
        </div>
    </div>
</div>
{% end block content %}
{% block javascript %}
<script type="text/javascript">
    $('.select_city').change(function() {
        $( ".select_city option:selected" ).each(function() {
            var city_id = $( this ).val();
            window.location="/"+city_id+"/"+'{{ subject_id }}';
    })});
    $('.select_subject').change(function() {
        $( ".select_subject option:selected" ).each(function() {
            var subject_id = $( this ).val();
            window.location="/"+'{{ city_id }}'+"/"+subject_id;
    })});

</script>
{% end block javascript %}
