{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col col-sm-12 pull-right">
        <div class="panel clearfix">
{#            <h2>{{ news_data['res']['title'] }}</h2>#}
            <h3>{{ news_data['res']['title'] }}</h3>
            <span>{{ news_data['res']['date'] }}</span>
            <span>{{ news_data['res']['time'] }}</span>
            <div class="margin-bottom-10">
                <img src="{{ news_data['res']['image'] }}" class="img-responsive">
            </div>
            <p>{% raw news_data['res']['body'] %}</p>
            <span class="pull-left">
                {{ news_data['res']['source_name'] }}
            </span>
        </div>
    </div>
</div>
<br>
{% if news_data['res']['similars'] != 0 %}
<div class="row">
    <div class="col col-sm-12 pull-right">
        <div class="panel list clearfix">
            {% for i in news_data['res']['similars'] %}
            <a href="news/show/{{ i['id'] }}">
                <h4>{{ i['title'] }}</h4>
            </a>
            <span class="pull-left">{{ i['date'] }}</span>
            <div class="clearfix"></div>
            <img src="{{ i['image'] }}" class="img-responsive pull-right">
            <p>{{ i['summary'] }}</p>
            {{ i['source_name'] }}
            <br><br>
            <a href="news/show/{{ i['id'] }}">
                <button class="btn btn-default pull-left">بیشتر</button>
            </a>
            <div class="clearfix"></div>
            <hr>
            {% end for %}
        </div>
    </div>
</div>
{% else %}
<div class="row">
    <div class="col col-sm-12 pull-right">
        <div class="panel list clearfix">
            <h4>خبر مرتبطی وجود ندارد</h4>
        </div>
    </div>
</div>
{% end if %}
{% end block content %}
